c-toggler {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAE9JREFUOMtjYBh0gBHO+k+cSkYilcPVMpHqpIHRwIgUFERp+I8SekQ5CY8WXH7AqYWJyGglqIERV3QykaYcV7DiSSwsODw8yJIGdTPQIAQAg9gKJl7UINwAAAAASUVORK5CYII=);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: var(--text-inverse);
  transform-origin: center;
  border-radius: 50%;
  box-shadow: var(--shadow-float);
  z-index: 99999;
  opacity: 0.5;
}

c-object {
  color: var(--cf-blue);
  text-decoration: underline;
}

c-toggler:active {
  box-shadow: var(--shadow-float-sm);
}

c-line {
  display: block;
}

c-console {
  box-sizing: border-box;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-lighter);
  z-index: 99998;
  color: var(--text-primary);
  font-family: var(--app-font-family);
}

c-console[title] {
  padding-top: 65px;
  animation: --page-transition .1s ease 1;
}

c-console br:last-of-type {
  display: none;
}

c-console textarea {
  color: var(--text-inverse);
  caret-color: currentColor !important;
  background-color: inherit;
}

c-input {
  display: flex;
  width: 100%;
  height: fit-content;
}

c-input::before {
  content: '>>';
  margin: 0 5px;
  height: 100%;
}

#__c-input {
  width: 100%;
  border: none;
  resize: none;
  height: 200px;
  position: relative;
  background-color: transparent;
  overflow: visible;
}

#__c-input:focus {
  outline: none;
}

c-console[title]::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: inherit;
  z-index: 999999;
  content: attr(title);
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: center;
  font-family: var(--font-code);
  font-weight: 900;
  box-shadow: var(--shadow-sm);
  margin-bottom: 10px;
  color: white;
  font-size: medium;
}

c-message {
  position: relative;
  display: flex;
  border-bottom: solid 1px var(--border-color-cf);
  margin-bottom: 35px;
  font-size: .9rem;
  flex-wrap: wrap;
}

c-code {
  position: relative;
  color: var(--text-primary);
  font-size: 1em;
  font-family: var(--font-code);
  overflow-x: auto;
  white-space: pre;
  margin-bottom: 0px;
  border: 'none';
}

c-code::after {
  content: 'use';
  background-color: var(--text-secondary);
  color: inherit;
  border-radius: 4px;
  padding: 0 0.4rem;
  font-size: 0.6rem;
}

c-code::before {
  content: '>>';
  padding: 0 5px;
  font-style: italic;
}

c-key {
  font-size: 0.9rem;
  color: var(--color-info);
}

c-message[log-level=error] {
  border-bottom: solid 1px var(--border-color-cf);
  background-color: var(--surface-raised);
  color: inherit;
}

c-message[log-level=error]::after {
  background-color: var(--color-error);
  color: inherit
}

c-message[log-level=warn] {
  border-bottom: solid 1px var(--border-color-cf);
  background-color: var(--surface-raised);
  color: inherit;
}

c-message[log-level=warn]::after {
  background-color: var(--color-error);
  color: inherit
}

c-stack:not(:empty) {
  content: attr(data-stack);
  font-family: var(--font-code);
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background-color: inherit;
  padding: 0 5px;
  box-sizing: border-box;
  font-size: .8rem;
  color: inherit;
}

c-text {
  padding: 2px;
  white-space: pre;
  font-family: var(--font-code);
  overflow: auto;
  box-sizing: border-box;
  max-width: 100vw;
  font-size: 0.9rem;
  width: 100%;
  padding-left: 10px;
  white-space: break-spaces;
}

c-text.__c-boolean {
  color: var(--text-secondary);
}

c-text.__c-number {
  color: var(--text-secondary);
}

c-text.__c-symbol {
  color: var(--text-secondary);
}

c-text.__c-function {
  color: var(--text-secondary);
  font-family: var(--font-code);
  font-size: 0.9rem;
}

c-text.__c-function::before {
  content: 'ƒ';
  margin: 0 2px;
  font-style: italic;
  color: var(--cf-blue);
}

c-text.__c-object,
c-text.__c-undefined {
  color: var(--text-success);
}

c-text.__c-string {
  color: var(--text-success);
}

c-text.__c-string:not(.no-quotes)::before {
  content: '"';
  margin-right: 2px;
}

c-text.__c-string:not(.no-quotes)::after {
  content: '"';
  margin-left: 2px;
}

c-message.error c-text {
  overflow: unset;
  white-space: pre-wrap;
  word-break: break-word;
  color: var(--text-inverse);
}

c-group {
  display: none;
  margin-left: 14px;
}

c-type[type="body-toggler"].__show-data+c-group {
  display: block;
}

c-type[type="body-toggler"]::before {
  display: inline-block;
  content: '▸';
  margin-right: 2.5px;
}

c-type[type="body-toggler"]::after {
  content: '{...}';
}

c-type[type="body-toggler"].__show-data::before {
  content: '▾';
}

c-type[type="body-toggler"].__show-data::after {
  display: none;
}

c-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.9rem;
  color: var(--text-primary);
  border: solid 1px var(--border-color-cf);
}

c-table c-row {
  display: table-row;
  border-bottom: solid 1px var(--border-color-cf);
}

c-table c-row:last-child {
  border-bottom: none;
}

c-table c-row:first-child {
  font-weight: bold;
}

c-table c-cell {
  display: table-cell;
  padding: 5px;
  border-bottom: solid 1px var(--border-color-cf);
}

c-table c-cell:not(:last-child) {
  border-left: solid 1px var(--border-color-cf);
}

@keyframes --page-transition {
  0% {
    opacity: 0;
    transform: translate3d(0, 50%, 0)
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}
